.footer
  background-color: #E9E9E9
  &__inner
    height: 98px
    display flex
    justify-content space-between
    align-items: center

  .copirating
    font-family: "Open Sans"
    font-size: 14px
    line-height: 19px
    span
      display: block
      text-align: right
      color: #BDBDBD