.carousel
  .carousel-control-next, .carousel-control-prev
    width: 100px
    height: 100px
    top 50%
    transform translateY(-50%)
    background-color: #000000
  .carousel-control-next
    right: 30px
  .carousel-control-prev
    left: 30px
    
    
    
    
.black
  background: #000