*
  margin: 0
  padding: 0

body
  font-family 'Open Sans', sans-serif
  font-size 14px
  background-color: #fff

.container
  max-width 1200px
  width 100%
  padding 0 20px
  margin 0 auto
  @media (max-width: 768px)
    width: 100% !important

@import "_header.styl"
@import "_main-slider.styl"
@import "_footer.styl"


